/home/max/SourceCodes/GitHubRepositories/pacman_unchained/.idea/misc.xml
/home/max/SourceCodes/GitHubRepositories/pacman_unchained/.idea/modules.xml
/home/max/SourceCodes/GitHubRepositories/pacman_unchained/.idea/pacman_unchained.iml
/home/max/SourceCodes/GitHubRepositories/pacman_unchained/.idea/vcs.xml
/home/max/SourceCodes/GitHubRepositories/pacman_unchained/.idea/workspace.xml
